/* color variables created */
:root {
    --text-and-border: #556B2F;
    --main-background: #DEB887;
    --subtitle-border: #DCDCDC;
}

/* body described  */
body {
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--main-background);
}

/* header described */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    background-color: var(--text-and-border);
}

/* class "name" described */
.name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 40px 40px 40px 150px;
    font-size: 40px;
    color: var(--text-and-border);
    background-color: var(--subtitle-border);
    border-radius: 0px 25px 25px 0px;
}

/* nav element described */
nav {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    padding: 40px auto 40px 40px;
}

/* a links described */
a {
    padding: 14px 20px;
    font-size: 24px;
    color: var(--subtitle-border);
    text-decoration: underline;
    text-align: center;
}
